:root {
    /* --background-gradient: #201606; */
    --background-gradient:'linear-gradient(180deg, #331E00 0%, #000000 100%)';
    --theme-accent:"#331E00"
    --text-base: #fff;
}

body {
    .custom-gradient {
        background: var(--background-gradient);
    }

    .button-custom {
        background-color: var(--text-base);
    }


    /* Custom scrollbar styles */
    ul::-webkit-scrollbar {
        width: 4px;
        /* Narrower scrollbar */
        height: 4px;
        /* For horizontal scrollbars */
    }

    ul::-webkit-scrollbar-track {
        background: var(--theme-accent);
        /* Slightly lighter than the background */
        border-radius: 10px;
    }

    ul::-webkit-scrollbar-thumb {
        background-color: var(--theme-accent);
        /* Darker thumb for better visibility */
        border-radius: 10px;
        border: none;
        /* No border for a sleeker look */
    }

    /* Styling for Firefox */
    ul {
        scrollbar-width: thin;
        scrollbar-color: var(--theme-accent) #1a1a1a;
    }

    /* Optional: Add hover effect for better UX */
    ul::-webkit-scrollbar-thumb:hover {
        background-color: var(--theme-accent);
        /* Slightly lighter thumb on hover */
    }

    /* Customize scrollbar corner for dual scrollbars (both horizontal and vertical) */
    ul::-webkit-scrollbar-corner {
        background: var(--theme-accent);
        /* Matching the track background */
    }

}